@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: blue;
}

.container {
  background: rgb(190, 190, 170);
  width: calc(44px * 4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.balloon {
  height: 44px;
  width: 44px;
  border: 1px dashed red;
  flex-grow: 1;
}
