@import "~bootstrap/dist/css/bootstrap.min.css";

body {
}

.container {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.balloon {
  height: 60px;
  width: 60px;
  border: 1px dashed red;
  flex-grow: 1;
  border-radius: 50%;
  position: relative;
}

.balloon.popped {
  visibility: hidden;
}

.balloon:after {
  position: absolute;
  background: inherit;
  bottom: -5px;
  left: 47px;
  display: block;
  content: "|";
  height: 10px;
  width: 3px;
  border-radius: 100%;
  border: 1px solid red;
}

.balloon:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.balloon.popped {
  visibility: hidden;
}

.balloon.popped:after {
  visibility: hidden;
}
